docs/data-server/workflows/rag-ingest.json
{
  "name": "rag-ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-ingest",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "rag-ingest-webhook-0001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "__HEADER_AUTH_CRED_ID__",
          "name": "Data-Server API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const body = $input.first().json.body || {};\nconst { projectId, source, filename, mimeType, content, metadata } = body;\n\nif (!projectId || typeof projectId !== 'string') throw new Error('projectId required');\nif (!source || typeof source !== 'string') throw new Error('source required');\nif (!filename || typeof filename !== 'string') throw new Error('filename required');\nif (!mimeType || typeof mimeType !== 'string') throw new Error('mimeType required');\nif (typeof content !== 'string' || content.length === 0) throw new Error('content required (non-empty string)');\n\nconst documentId = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c){var r=Math.random()*16|0;return (c==='x'?r:(r&0x3|0x8)).toString(16);});\n\nreturn [{\n  json: {\n    projectId,\n    source,\n    filename,\n    mimeType,\n    content,\n    documentId,\n    metadata: metadata && typeof metadata === 'object' ? metadata : {},\n  },\n}];"
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000002",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000003",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [680, 480]
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Validate').item.json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              { "name": "projectId", "value": "={{ $('Validate').item.json.projectId }}" },
              { "name": "source", "value": "={{ $('Validate').item.json.source }}" },
              { "name": "filename", "value": "={{ $('Validate').item.json.filename }}" },
              { "name": "documentId", "value": "={{ $('Validate').item.json.documentId }}" },
              { "name": "mimeType", "value": "={{ $('Validate').item.json.mimeType }}" },
              { "name": "jurisdiction", "value": "={{ $('Validate').item.json.metadata?.jurisdiction || '' }}" },
              { "name": "regulationId", "value": "={{ $('Validate').item.json.metadata?.regulationId || '' }}" },
              { "name": "effectiveDate", "value": "={{ $('Validate').item.json.metadata?.effectiveDate || '' }}" },
              { "name": "language", "value": "={{ $('Validate').item.json.metadata?.language || '' }}" },
              { "name": "tags", "value": "={{ ($('Validate').item.json.metadata?.tags || []).join(',') }}" }
            ]
          }
        }
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000004",
      "name": "Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [680, 380]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000005",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [860, 480],
      "credentials": {
        "openAiApi": {
          "id": "__OPENAI_CRED_ID__",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "thearchitect-rag-v4"
        },
        "embeddingBatchSize": 200,
        "options": {}
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000006",
      "name": "Qdrant Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [860, 300],
      "credentials": {
        "qdrantApi": {
          "id": "__QDRANT_CRED_ID__",
          "name": "Qdrant"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { documentId: $('Validate').item.json.documentId, chunkCount: ($input.all() || []).length } }}",
        "options": {}
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1080, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate", "type": "main", "index": 0 }]]
    },
    "Validate": {
      "main": [[{ "node": "Qdrant Insert", "type": "main", "index": 0 }]]
    },
    "Qdrant Insert": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    },
    "Data Loader": {
      "ai_document": [[{ "node": "Qdrant Insert", "type": "ai_document", "index": 0 }]]
    },
    "Text Splitter": {
      "ai_textSplitter": [[{ "node": "Data Loader", "type": "ai_textSplitter", "index": 0 }]]
    },
    "Embeddings": {
      "ai_embedding": [[{ "node": "Qdrant Insert", "type": "ai_embedding", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
